<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            @Html.ActionLink("LCD Example Website", "Index", new { controller = "Home" }, new { @class = "navbar-brand" })
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li id="students">
                    <!-- ActionLink für Studierende hier einfügen -->
                </li>
                <li id="countries">
                    <!-- ActionLink für Länder hier einfügen -->
                </li>
                <li id="cities">
                    <!-- ActionLink für Städte hier einfügen -->
                </li>
                <li id="addresses">
                    <!-- ActionLink für Adressen hier einfügen -->
                </li>
                <li id="studentsmanagement">
                    <!-- ActionLink für Studierendenverwaltung hier einfügen -->
                </li>
                <li id="about">
                    @Html.ActionLink("About", "Index", "About")
                </li>
                <li id="services">
                    @Html.ActionLink("Services", "Index", "Services")
                </li>
                <li id="contact">
                    @Html.ActionLink("Contact", "Index", "Contact")
                </li>
                <li id="portfolio" class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Portfolio <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li id="1columnportfolio">
                            @Html.ActionLink("1 Column Portfolio", "OneColumn", "Portfolio")
                        </li>
                        <li id="2columnportfolio">
                            @Html.ActionLink("2 Column Portfolio", "TwoColumn", "Portfolio")
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
