@model BootstrapSiteLCD.Models.Student

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 class="page-header">
    @ViewBag.Title
    <small>Studierenden bearbeiten</small>
</h1>
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li class="active">Studierende</li>
</ol>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Student</h4>
        <hr />
        @Html.ValidationSummary(true)
        <div class="form-group">
            @Html.LabelFor(model => model.MatriculationNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.MatriculationNo, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.MatriculationNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prename, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.Prename, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.Prename)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Surname, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.Surname, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.Surname)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Birthday, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.Birthday)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Birthplace, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.Birthplace, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.Birthplace)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExaminationNo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.ExaminationNo, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.ExaminationNo)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Activ, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Activ, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.Activ)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Registrationdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
               @Html.TextBoxFor(model => model.Registrationdate, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.Registrationdate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Expirationdate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Expirationdate, new { @class = "form-control m-b" })
                @Html.ValidationMessageFor(model => model.Expirationdate)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
