@model IEnumerable<BootstrapSiteLCD.Models.Student>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h1 class="page-header">
    @ViewBag.Title
    <small>Studierenden bearbeiten</small>
</h1>
<ol class="breadcrumb">
    <li>
        @Html.ActionLink("Home", "Index", "Home")
    </li>
    <li class="active">Studierende</li>
</ol>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MatriculationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthday)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Birthplace)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExaminationNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activ)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Registrationdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Expirationdate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MatriculationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthday)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Birthplace)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExaminationNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activ)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Registrationdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Expirationdate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
